<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description1" command="$(find xacro)/xacro.py '$(find robot_description)/urdf/robot.xacro'" />

    <arg name="x" default="0"/>
    <arg name="y" default="1"/>
    <arg name="z" default="0.5"/>

    <node name="mybot_spawn1" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description1 -model robot1 -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
