<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description3" command="$(find xacro)/xacro.py '$(find robot_description)/urdf3/robot.xacro'" />

    <arg name="x" default="3.8"/>
    <arg name="y" default="3.2"/>
    <arg name="z" default="0.5"/>

    <node name="mybot_spawn3" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description3 -model robot3 -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
